/* animation.scss */

@keyframes heart-filling {
    0%{
        transform: scale(0);
    }
    70%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes heart-vanish {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(0);
        z-index: -1;
    }
}