/* animation.scss file */

@keyframes heart-filling {
    0%{
        transform: scale(0);
    }
    70%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes heart-vanish {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(0);
        z-index: -1;
    }
}
@keyframes rotate-icon {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(0);
        z-index: -1;
    }
}

@keyframes gradual-onset {
    
    
    
    
    0%{
        visibility: hidden;
        opacity: 0;
    }
    70%{
        visibility: visible;
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
