button {
    font-size: 20px;
    color: white;
    background: rgb(236, 0, 235);
    background: linear-gradient(324deg, rgba(236, 0, 235, 1) 0%, rgba(239, 206, 255, 1) 100%);
    border: none;
    padding: 20px 40px;
    border-radius: 40px;
    margin-bottom: 40px;
}