@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto/Roboto-Medium.ttf") format("ttf");
}

@font-face {
    font-family: "Shrikhand";
    src: url("/fonts/Shrikhand/Shrikhand-Regular.ttf") format("ttf");
}