footer {
    background-color: #353535;
    display: flex;
    padding: 30px;
    flex-direction: column;
    h4 {
        font-family: 'Shrikhand';
        color: white;
        font-size: 35px;
        font-weight: 500;
        margin-bottom: 20px;
    }
    a {
        color: white;
        margin-bottom: 40px;
        font-size: 18px;
    }
}