footer {
    background-color: #353535;
    display: block;
    display: flex;
    flex-direction: column;
    h1 {
        font-family: 'Shrikhand';
    }
    h2 {
        color: white;
        margin-bottom: 40px;
        font-size: 18px;
    }
}