footer {
    h1 {
        font-family: "Shrikhand";
    }
    font-family: 'Roboto';
    background-color: #353535;
    display: flex;
    align-items: center;
    justify-content: center;
    h2 {
        color: white;
        margin-bottom: 40px;
        font-size: 18px;
    }
}