    header {
        font-family: 'Shrikhand';
        display: flex;
        justify-content: center;
        padding: 20px;
        background-color: #ffffff;
        img {
            width: 100%;
            max-width: 400px;
        }
    }