* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto/Roboto-Medium.ttf") format("ttf");
}

body {
    font-family: 'roboto';
}

header {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: white;
}

.location {
    box-shadow: inset 1px 4px 9px -6px;
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    padding: 20px;
    i {
        margin-right: 25px;
    }
}

.hero {
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 40px;
    h1 {
        margin: 40px 0px;
    }
    p {
        color: grey;
        margin-bottom: 40px;
        font-size: 18px;
    }
    button {
        font-size: 20px;
        color: white;
        background: rgb(236, 0, 235);
        background: linear-gradient(324deg, rgba(236, 0, 235, 1) 0%, rgba(239, 206, 255, 1) 100%);
        border: none;
        padding: 20px 40px;
        border-radius: 40px;
        margin-bottom: 40px;
    }
}

.main-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: blueviolet;
}

.choices {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.restaurants {
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    background-color: magenta;
    display: flex;
    align-items: center;
    justify-content: center;
}