    @import 'reset.scss';
    @import 'fonts.scss';
    @import 'colors.scss';
    @import 'header.scss';
    @import 'footer.scss';
    body {
        font-family: 'Roboto';
    }
    
    h2 {
        font-family: 'Roboto';
    }
    
    .location {
        box-shadow: inset 1px 4px 9px -6px;
        background-color: #eaeaea;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 28px;
        padding: 20px;
        i {
            margin-right: 25px;
        }
    }
    
    .hero {
        background-color: #f6f6f6;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 20px 40px;
        h1 {
            margin: 40px 0px;
        }
        p {
            color: grey;
            margin-bottom: 40px;
            font-size: 18px;
        }
        button {
            font-size: 20px;
            color: white;
            background: rgb(236, 0, 235);
            background: linear-gradient(324deg, rgba(236, 0, 235, 1) 0%, rgba(239, 206, 255, 1) 100%);
            border: none;
            padding: 20px 40px;
            border-radius: 40px;
            margin-bottom: 40px;
        }
    }
    
    .choices {
        background-color: #ffffff;
        padding: 0px 30px;
        h2 {
            margin: 40px 0px;
        }
        .choices-button {
            display: block;
            margin-bottom: 40px;
            display: flex;
            align-items: center;
            border: none;
            background-color: none;
            .choices-number {
                border-radius: 20px;
                color: white;
                background-color: $primary-color;
                padding: 7px;
                margin-right: 20px;
                width: 20px;
                height: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: -20px;
                z-index: 3;
            }
            .button-label {
                font-size: 20px;
                background: #f6f6f6;
                border: none;
                padding: 30px 50px;
                border-radius: 30px;
                color: #090909;
                i {
                    color: #888;
                    margin-right: 15px;
                }
            }
        }
    }
    
    .main-container {
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        padding: 20px;
    }
    
    .restaurants {
        background-color: #f6f6f6;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 40px;
    }
    
    .rest_01 {
        background-color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 40px;
    }
    
    .rest_02 {
        background-color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 40px;
    }
    
    .rest_03 {
        background-color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 40px;
    }
    
    .rest_04 {
        background-color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 40px;
    }