        @import 'reset.scss';
    @import 'fonts.scss';
    @import 'colors.scss';
    @import 'header.scss';
    @import 'footer.scss';
    * {
        font-family: 'Roboto';
    }
    
    body {
        font-family: 'Roboto';
        display: flex;
        flex-direction: column;
    }
    
    h1 {
        font-family: 'Shrikhand';
    }
    
    .main-container {
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0px;
    }
    
    .location {
        box-shadow: inset 1px 4px 9px -6px;
        background-color: #eaeaea;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 28px;
        padding: 20px;
        i {
            margin-right: 25px;
        }
    }
    
    .hero {
        background-color: #f6f6f6;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 20px 40px;
        h1 {
            margin: 40px 0px;
        }
        p {
            color: grey;
            margin-bottom: 40px;
            font-size: 18px;
        }
        button {
            font-size: 20px;
            color: white;
            background: rgb(236, 0, 235);
            background: linear-gradient(324deg, rgba(236, 0, 235, 1) 0%, rgba(239, 206, 255, 1) 100%);
            border: none;
            padding: 20px 40px;
            border-radius: 40px;
            margin-bottom: 40px;
        }
    }
    
    .choices {
        background-color: #ffffff;
        padding: 0px 30px;
        h2 {
            margin: 40px 0px;
        }
        .choices-button {
            display: block;
            margin-bottom: 40px;
            display: flex;
            align-items: center;
            border: none;
            background-color: none;
            .choices-number {
                border-radius: 30px;
                color: white;
                background-color: $primary-color;
                padding: 7px;
                width: 30px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: -20px;
                z-index: 3;
            }
            .button-label {
                width: 100%;
                font-size: 20px;
                background: #f6f6f6;
                border: none;
                padding: 30px 50px;
                border-radius: 30px;
                color: #090909;
                padding: 30px 40px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                i {
                    color: #888;
                    margin-right: 15px;
                }
            }
        }
    }
    
    .restaurants {
        background-color: #f6f6f6;
        padding: 0px 30px;
        //  display: flex;
        //  align-items: center;
        //  justify-content: left;
        .card {
            border-radius: 30px;
            background-color: red;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 20px 0px;
            .imgage {
                border-top-right-radius: 20px;
                border-top-left-radius: 20px;
            }
            .picture-full-palette {
                background-image: url('../img/restaurants/The_Full_Palette.jpg');
            }
            .picture-enchanted-plate {
                background-image: url('../img/restaurants/The_Enchanted_Plate.jpg');
            }
            .picture-bastille {
                background-image: url('../img/restaurants/Bastille.jpg');
            }
            .picture-gourmand {
                background-image: url('../img/restaurants/Le_Gourmand.jpg');
            }
        }