* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto/Roboto-Medium.ttf") format("ttf");
}

.body {
    font-family: 'roboto';
}

.header {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: white;
}

.main-container {
    background-color: blueviolet;
}

.Location {
    box-shadow: inset 1px 4px 9px -6px;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    padding: 20px;
    i {
        margin-right: 25px;
    }
}

.Choices {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Restaurants {
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    background-color: magenta;
    display: flex;
    align-items: center;
    justify-content: center;
}