/* Main SCSS file */

@import 'reset.scss';
@import 'fonts.scss';
@import 'colors.scss';
@import 'header.scss';
@import 'button.scss';
@import 'footer.scss';
* {
    font-family: 'Roboto';
}

body {
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Shrikhand';
}

.main-container {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px;
}

.location {
    box-shadow: inset 1px 4px 9px -6px;
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    padding: 20px;
    i {
        margin-right: 25px;
    }
}

.hero {
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 40px;
    h2 {
        margin: 30px 0px;
        font-size: 30px;
    }
    p {
        color: grey;
        margin: 10px 0px;
        font-size: 18px;
    }
}

.choices {
    background-color: #ffffff;
    padding: 0px 30px;
    h2 {
        margin: 40px 0px;
    }
    .buttons {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    @media screen and (max-width: 992px) {
        .buttons {
            display: block;
            ;
        }
    }
    .choices-button {
        display: block;
        margin-bottom: 40px;
        display: flex;
        align-items: center;
        border: none;
        background-color: none;
        flex: 1 1 0%;
        padding: 20px;
        .choices-number {
            border-radius: 30px;
            color: white;
            background-color: $primary-color;
            padding: 7px;
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: -20px;
            z-index: 3;
        }
        .button-label {
            width: 100%;
            font-size: 20px;
            background: #f6f6f6;
            border: none;
            padding: 30px 50px;
            border-radius: 30px;
            color: #090909;
            padding: 30px 40px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            i {
                color: #888;
                margin-right: 15px;
            }
        }
    }
}

.restaurants {
    background-color: #f6f6f6;
    padding: 30px;
    h2 {
        padding: 20px 0px;
    }
    .card {
        background-color: white;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 20px 0px;
        .image {
            border-top-right-radius: 20px;
            border-top-left-radius: 20px;
            height: 200px;
            width: 100%;
            background-size: cover;
        }
        .picture-full-palette {
            background-image: url('../img/restaurants/The_Full_Palette.jpg');
        }
        .picture-enchanted-plate {
            background-image: url('../img/restaurants/The_Enchanted_Plate.jpg');
        }
        .picture-bastille {
            background-image: url('../img/restaurants/Bastille.jpg');
        }
        .picture-gourmand {
            background-image: url('../img/restaurants/Le_Gourmand.jpg');
        }
        .card-details-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            // padding: 30px;
        }
        .card-details {
            display: block;
            width: 100%;
            padding: 20px;
        }
        .icon {
            padding: 20px;
        }
    }
}